.headerTable {
    width: 100%;
}

.headerTable-td {
    width: 65%;
    text-align: center;
}

.head-title {
    font-weight: normal !important;
    font-size: 20px;
    text-shadow: none;
    color: white !important;
}

.pageHeader {
    width: 100%;
    background-color: black;
    height: 46px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}