<div class="menuLeftSide">
  <table id="tab" class="MenuLeft" style="width:100%; border-collapse:collapse;">
      <tr style="cursor: pointer;" >
          <td  class="menuButton clicable-row" routerLink="/download"   style="outline:none;border-top: 2px solid white;">
              <table style="width:100%;">
                  <tr >
                      <td>
                      </td>
                      <td class="menuText">
                          <a class="menuLink menuColor"  style="text-decoration: none;font-size: 16px;">Download</a>
                      </td>
                  </tr>
              </table>
          </td>
      </tr>
      <tr style="cursor: pointer;" >
        <td  class="menuButton clicable-row"  routerLink="/output"   style="outline:none;border-top: 2px solid white;">
            <table style="width:100%;">
                <tr >
                        <td>
                            </td>
                    <td class="menuText">
                        <a class="menuLink menuColor"  style="text-decoration: none;font-size: 16px;">Output</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
  </table>
</div>